.cart {
    padding-top: 2rem;
    width: 75%;
    margin: auto;
}

.cart-header {
    display: flex;
    justify-content: space-between;
}

.cart-headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(59, 59, 59);
    margin-bottom: 3rem;
}

.cart-divider {
    width: 100%;
    height: 0.05rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background: rgba(0, 0, 0, 0.26);
}


.back-button {
    background: none;
    border: none;
    color: var(--primary-color);
    margin-top: 3rem;
    cursor: pointer;
}


.back-button:hover {
    font-weight: bold;
}