.checkout {
    display: flex;
    gap: 2rem;
}

.checkout__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.checkout__form__shipping {
    background: rgb(241, 241, 241);
    margin-left: 2rem;
    padding: 2rem;
    width: 100%;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
}


.checkout__form__shipping h2 {
    margin-bottom: 1rem;
}

.checkout__form__shipping input{
    border: none;
    font-size: 16px;
    margin: 0.3rem;
    padding: 0.5rem;
    width: 100%;
}


.checkout__form__payment {
    background: rgb(241, 241, 241);
    margin-left: 2rem;
    padding: 2rem;
    width: 100%;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
}

.checkout__form__payment input{
    border: none;
    font-size: 16px;
    margin: 0.3rem;
    padding: 0.5rem;
    width: 100%;
}

.checkout__form__payment__card {
    display: flex;
    width: 100%;
}

.checkout__summary {
    width: 40%;
    height: 100%;
    margin-left: 2rem;
}

.checkout__summary__details {
    background: rgb(241, 241, 241);
    padding: 2rem;
    width: 100%;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.checkout__summary__modify {
    text-decoration: underline;
    cursor: pointer;
}


.checkout__summary__row {
    display: flex;
    justify-content: space-between;
}

.checkout__summary_submit {
    width: 100%;
    height: 2.5rem;
    margin-top: 1.5rem;
    background: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}


.checkout__summary_submit:hover {
    background-color: rgb(3, 161, 37);
    font-weight: bold;
}

.checkout__summary__products__img {
    width: 100px;
}


@media screen and (max-width: 800px) {
    .checkout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .checkout__form {
        width: 100%;
        padding: 1rem;
    }

    .checkout__form__shipping {
        margin: 0;
    }

    .checkout__form__payment {
        margin: 0;
    }

    .checkout__summary {
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
}