.product {
    width: 100%;
    padding: 2rem 4rem;
}

.breadcrumbs {
    font-size: 12px;
    color: darkgray;
    margin-bottom: 1.5rem;
}

.product-container {
    display: flex;
    width: 100%;
    height: 75vh;
}

.product-left {
    width: 100%;
    height: 100%;
    padding-right: 4rem;
}

.product-mainImg {
    height: 74%;
    width: 100%;
    object-fit: cover;
}

.product-altImgs {
    height: 25%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.product-altImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    border: 2px solid rgb(225, 225, 225);
}




/* -------------- RIGHT SIDE --------- */

.product-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-title {
    margin-bottom: 1rem;
}

.product-rating {
    display: flex;
    align-items: center;
    color: green;
    margin-top: 0.5rem;
}

.product-pricing {
    margin-top: 2rem;
}

.product-details {
    padding-right: 10rem;
}

.product-quantity {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.highlight{
    color: rgb(216, 155, 0);
}

.product-quantity-button {
    width: 10rem;
    height: 3rem;
    background: rgb(227, 227, 227);
    border-radius: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-right: 2rem;
}

.product-quantity-button > button {
    background: none;
    border: none;
    font-size: 1.5rem;
}

.product-purchase {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.product-quantity-button > button {
    cursor: pointer;
}

.buy-now {
    width: 30%;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    background: var(--primary-color);
    color: white;
    padding: 0.5rem 1.3rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.buy-now:hover {
    background: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.add-to-cart {
    width: 30%;
    height: 3rem;
    border: 1px solid var(--primary-color);
    border-radius: 2rem;
    color: var(--primary-color);
    background: white;
    padding: 0.5rem 1.3rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.add-to-cart:hover {
    background: var(--primary-color);
    color: white;
}

.product-delivery {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 10rem;
    border: 1px solid rgb(225, 225, 225);
    background: rgb(255, 255, 255);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.product-delivery-return-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.product-delivery-free-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.divider {
    background: rgb(225, 225, 225);
    width: 100;
    height: 1px;
}


@media only screen and (max-width: 1200px) {

    .product-details {
        padding-right: 0rem;
    }

    .buy-now {
        width: 50%;
        font-size: 0.8rem;
    }
    
    .add-to-cart {
        width: 50%;
        font-size: 0.8rem;
    }
    
}



@media only screen and (max-width: 600px) {

    .product-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .product-left {
        padding-right: 0;
    }

    .product-title {
        margin-top: 2rem;
    }
    
}