.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.cart-product-details img {
    width: 10rem;
}

.cart-quantity {
    margin: 0 1rem;
}

.cart-quantity-button {
    display: flex;
    align-items: center;
}

.cart-quantity-button button {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.cart-product-details {
    display: flex;
    gap: 2rem;
}

.cart-product-details * {
    margin-bottom: 1rem;
}

.cart-product-details-right{
    width: 10rem;
}


.cart-product-details-right p{
    cursor: pointer;
}

.cart-product-details-right p:hover{
    font-weight: 600;
    color: red;
}

@media screen and (max-width: 800px) {

    .cart-product {
        margin-bottom: 2.5rem;
        background: rgba(0, 0, 0, 0.027);
        padding: 1rem;
    }

    .cart-product-details * {
        margin-bottom: 0;
    }

    .cart-product-details img {
        width: 5rem;
        height: 4.5rem;
    }

    .cart-product-details h3 {
        font-size: 16px;
        margin-bottom: 0.5rem;
    }

    .cart-product-details p {
        font-size: 14px;
    }

    .price {
        display: none;
    }

    .cart-product {
        display: flex;
        flex-direction: column;
    }

    .cart-quantity {
        margin: 0 0.5rem;
    }

    .cart-product-quantity {
        background: rgba(9, 182, 3, 0.151);
        padding: 0.2rem;
        border-radius: 0.5rem;
        margin-bottom: 0.7rem;
    }
}